.vid video
{
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover; /*если видео переполняет контейнер, то поля которые не вмещаются будут обрезаны*/
}


.vid
{
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
 /* Затеменяем фон видео */
.effect
{
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.177);
    object-fit: cover; /*если видео переполняет контейнер, то поля которые не вмещаются будут обрезаны*/
}


.vid-text
{
    color: rgb(0, 0, 0);
    z-index: 2;
}